* {
  margin: 0;
  box-sizing: border-box;
  font-family: interstate, Helvetica, sans-serif;
}

body {
  background: #f0f2f2;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  color: #131947;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 36px;
  color: #53759b;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.1rem;
  line-height: 24px;
  color: #131947;
  margin-bottom: 10px;
}

p {
  color: #131947;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.32px;
}

ul {
  padding-inline-start: 0;
}

.filter:nth-child(2) > ul {
  columns: 3;
}

li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #414141;
  list-style-type: none;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  background: #131947;
  color: white;
  padding: 0;
  font-size: 20px;
  font-weight: lighter;
}

/* Header */

header {
  width: 100vw;
  height: 120px;
  background: #cad7e0;
  display: flex;
  align-items: center;
}

#header_content {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#formgroup_search {
  width: 770px;
  height: 50px;
  display: flex;
}

input[type="text"] {
  color: #53759b;
  border: 1px solid #131947;
  font-size: 20px;
  width: 80%;
  height: 100%;
  padding: 0 20px;
}

.search {
  height: 100%;
  width: 20%;
}

/* Content */

.container {
  width: 1140px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 30px;
}

.filters {
  display: flex;
}

.filter {
  margin: 10px 50px 0 0;
}

.filter span {
  color: #53759b;
  font-size: 1rem;
  line-height: 24px;
  font-weight: lighter;
}

/* Banner */
.banner {
  background: #53759b;
  margin: 50px auto;
  padding: 30px;
}

.banner_text_col {
  color: white;
}
.banner_header {
  margin: 15px 0;
  font-size: 2.5rem;
}

.banner_button {
  margin: 20px 0 0;
}

.banner_cta {
  margin: 0 0 15px;
}

/* Results */

.status span {
  font-weight: 800;
}
